:root {
    --grey0: black;
    --grey1: #1e1e1e;
    --grey2: #252526;
    --grey3: #333333;
    --grey4: #3c3c3c;
    --white0: white;
    --white1: #eeeeee;
    --white2: #d4d4d4;
    --white3: #cccccc;
    --white4: #858585;
    --blue: rgb(29, 56, 212);
    --purple: rgb(130, 21, 180);
}

body {
    background-color: var(--grey1);
    color: var(--white2);
    font-family: Verdana, Arial;
    margin: 0;
}

input {
    appearance: none;
    outline: none;
    border: none;
    box-shadow: none;
}

a {
    color: var(--blue);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: var(--purple);
}

#nav {
    background-color: var(--grey4);
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#nav a {
    font-size: 28px;
    padding: 12px 16px;
    color: var(--white0);
    display: block;
}

#nav .right {
    display: flex;
}

#nav .right a {
    font-size: 20px;
    margin-top: 4px;
}

#main {
    margin: 10px 20px;
}

#footer-links a {
    display: block;
}

footer {
    margin-top: 80px;
    margin-left: 40px;
}


#spreadsheet-cells {
    max-height: 800px;
    overflow: auto;
}

#spreadsheet-cells div {
    display: flex;
}

#spreadsheet-cells div div {
    width: 40px;
    max-width: 40px;
    overflow: visible;
    height: 20px;
    background-color: var(--grey3);
    border: 1px solid var(--grey4);
}

#spreadsheet-input {
    border-radius: 0px;
    margin: 0;
    padding: 0px;
    max-width: 60px;
}